server:
  tomcat:
    threads:
      max: 3000                # ?? ??? thread? ? ??
      min-spare: 20           # ?? ??? ? thread? ??
    max-connections: 8192     # connection? ? ??
    accept-count: 3000         # ???? ???
    connection-timeout: 20000 # timeout ?? ?? ??, 20?

spring:
  application:
    name: load-balancer

# Actuator + Prometheus
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        loadbalancer_response_time_seconds: true
    tags:
      application: ${spring.application.name}

logging:
  level:
    dgu.loadBalancing: INFO
    org.springframework.web.reactive.function.client: DEBUG

# Swagger
springdoc:
  swagger-ui:
    path: /swagger-ui.html